@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	font-family: "Lato", sans-serif;
	color: white;
	text-align: center;
	background-color: #36393F
}

a {
	color: #6F84D1
}

.animate-opacity {
  animation: opac 0.2s;
  animation-timing-function: ease-in
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}