@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
	font-family: "Lato", sans-serif;
	color: white;
	text-align: center;
	background-image: url("ur mom part 2.jpg");
}

a {
	color: white
}

.animate-opacity {
  animation: opac 0.2s;
  animation-timing-function: ease-in
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stroke {
		-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h1 {
	font-size: 50px
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.responsive-img {
  width: 100%;
  height: auto;
  max-width: 400px;
}
