@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	font-family: "Lato", sans-serif;
	color: white;
	text-align: center;
	background-image: url("ur mom part 2.jpg");
}

a {
	color: white
}

.animate-opacity {
  animation: opac 0.2s;
  animation-timing-function: ease-in
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stroke {
		-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h1 {
	font-size: 50px
}